<?xml version="1.0"?>
<launch>
  <!--#>>>>TODO: LAUNCH A NODE TO PUBLISH AN STATIC TRANSFORMATION BETWEEN /map and /WORLD WITH A FREQ 100-->

  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_vis)/launch/rvizConfigs/turtleTutorial.rviz"/>

  <!--#>>>>TODO:LAUNCH TURTLE VISUALIZATION NODE-->


  <!--#>>>>TODO: load the yaml file control_param.yaml-->

  <!--#>>>>TODO:LAUNCH TURTLE CONTROL NODE.-->
 
</launch>
