<?xml version="1.0"?>
<launch>
  <!-- LAUNCH A NODE TO PUBLISH AN STATIC TRANSFORMATION BETWEEN /map and /WORLD WITH A FREQ 100-->  
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 /map /world 100"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtle_vis)/launch/rvizConfigs/turtleTutorial.rviz"/>

  <!-- LAUNCH TURTLE VISUALIZATION NODE-->
  <node name="turtle_vis" pkg="turtle_vis" type="turtle_vis_node"/>

  <!-- load the yaml file control_param.yaml-->
  <rosparam file="$(find turtle_vis)/configs/control_param.yaml" />
  
  <!-- LAUNCH TURTLE CONTROL NODE.-->
  <node name="turtle_control" pkg="turtle_vis" type="turtle_control_node"/>  

</launch>
